.router-link,
.router-link-active,
a{
  text-decoration: none;
}

.green-button {
  background: #42b983;
  cursor: pointer;
}

.blue-button {
  background: #164a7f;
  cursor: pointer;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  color: #6d6f78;
}
